@charset "utf-8";

/* slider styles */


/*slider background color*/
#slider.ui-widget-content, .slider_style { 
	/*background: purple;*/ 
	border: thin solid #000000 !important;
/*background: #edc410;*/
background: #141B56;
height: 5px;
}

/*slider piece color*/
.ui-widget-content .ui-state-default { 
	/*background: chartreuse; */
	border: thin solid #000000 !important;
	box-shadow: #222222 2px 2px 3px;
	-moz-box-shadow:#222222 2px 2px 3px;
	-webkit-box-shadow: #222222 2px 2px 3px;
	cursor: pointer;
	width: 10px;
	/*background: #FEE30A;*/
	background: #e9e9e9;
	outline: none;

}

/*hover effects*/
.ui-widget-content:focus .ui-state-default:focus{
	transform:scale(2,2);
	-moz-transform: scale(2,2);
	-webkit-transform:scale(2,2);
}

/*active*/
.ui-widget-content:focus .ui-state-default:focus{
	transform:scale(2,2);
	-moz-transform: scale(2,2);
	-webkit-transform:scale(2,2);
}

/*text label under div*/
.label{
	margin-top: 5px;
	width: 200px;
	height: 25px;
/*	border: thin solid #ffffff;*/
	/*color: #F60;*/
	color: #141B56;
	padding: 2px;
}