@charset "utf-8";

/* slider styles */


/*slider background color*/
#slider.ui-widget-content, .slider_style { 
	/*background: purple;*/ 
	border: thin solid #000000 !important;
background: #edc410; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkYzQxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2VkOTQxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2YyNmIwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2VkMjIxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  #edc410 0%, #ed9410 33%, #f26b0f 63%, #ed2210 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#edc410), color-stop(33%,#ed9410), color-stop(63%,#f26b0f), color-stop(98%,#ed2210)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #edc410 0%,#ed9410 33%,#f26b0f 63%,#ed2210 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #edc410 0%,#ed9410 33%,#f26b0f 63%,#ed2210 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #edc410 0%,#ed9410 33%,#f26b0f 63%,#ed2210 98%); /* IE10+ */
background: linear-gradient(to right,  #edc410 0%,#ed9410 33%,#f26b0f 63%,#ed2210 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc410', endColorstr='#ed2210',GradientType=1 ); /* IE6-8 */
height: 5px;
}

/*slider piece color*/
.ui-widget-content .ui-state-default { 
	/*background: chartreuse; */
	border: thin solid #000000 !important;
	box-shadow: #222222 2px 2px 3px;
	-moz-box-shadow:#222222 2px 2px 3px;
	-webkit-box-shadow: #222222 2px 2px 3px;
	cursor: pointer;
	width: 10px;
	background: #FEE30A;
	outline: none;

}

/*hover effects*/
.ui-widget-content:focus .ui-state-default:focus{
	transform:scale(2,2);
	-moz-transform: scale(2,2);
	-webkit-transform:scale(2,2);
}

/*active*/
.ui-widget-content:focus .ui-state-default:focus{
	transform:scale(2,2);
	-moz-transform: scale(2,2);
	-webkit-transform:scale(2,2);
}

/*text label under div*/
.label{
	margin-top: 5px;
	width: 200px;
	height: 25px;
/*	border: thin solid #ffffff;*/
	color: #F60;
	padding: 2px;
}